pyspark
kafka-python
psycopg2-binary
qdrant-client
google-api-python-client
google-auth
google-auth-oauthlib
google-generativeai
google-genai
python-dotenv
requests
python-dateutil
cryptography
pydantic
pydantic-settings
sqlalchemy
PyMuPDF